<div class="footer-container">
    <div class="footer-header">
        <div class="footer-logo">
            <div class="logo">
                <div class="logo-img">
                    <p class="logo-textw">m</p>
                </div>
                <p class="site-name">matarebeli.ge</p>
            </div>
        </div>
        <div class="footer-rules">
            <p class="rules">წესები და პორობები</p>
        </div>
    </div>
    <div class="footer-section">
        <h1 class="footer-title">თბილისიდან რეგიონებში</h1>
        <div class="footer-lists">
            <div class="footer-list">
                <ul class="footer-listw">
                    <li>თბილისი - ბათუმი</li>
                    <li>თბილისი - ზუგდიდი</li>
                    <li>თბილისი - სამტრედია</li>
                    <li>თბილისი - ურეკი</li>
                </ul>
            </div>
            <div class="footer-list">
                <ul class="footer-listw">
                    <li>თბილისი - ფოთი</li>
                    <li>თბილისი - ხაშური</li>
                    <li>თბილისი - ქობულეთი</li>
                    <li>თბილისი - ზესტაფონი</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-section">
        <h1 class="footer-title">თბილისიდან რეგიონებში</h1>
        <div class="footer-lists">
            <div class="footer-list">
                <ul class="footer-listw">
                    <li>ბათუმი - თბილისი</li>
                    <li>ზუგდიდი - თბილისი</li>
                    <li>სამტრედია - თბილისი</li>
                    <li>ურეკი - თბილისი</li>
                </ul>
            </div>
            <div class="footer-list">
                <ul class="footer-listw">
                    <li>ფოთი - თბილისი</li>
                    <li>ხაშური - თბილისი</li>
                    <li>ქობულეთი - თბილისი</li>
                    <li>ზესტაფონი - თბილისი</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-contact">
        <h1 class="footer-title">თბილისიდან რეგიონებში</h1>
        <p class="contact-phone"><i class="ri-phone-line"></i> 032 2 42 04 05</p>
        <p class="contact-email"><i class="ri-mail-line"></i> Support&#64;matarebeli.ge</p>
    </div>
</div>