<section class="train-section">
    <div class="people-container">
        <h1>მატარებლების ჩამონათვალი</h1>
        <div *ngFor="let train of AllTrains; let i = index" class="person-div">
            <p><i class="ri-train-line"></i> #{{ train.number }}</p>
            <p>მიმართულება ➡️ {{ train.name }}</p>
            <p> {{ train.departure }} - {{train.arrive}}</p>
            <button (click)="selectTrain(train)" routerLink="/cheacktrains">დაჯავშნა</button>
        </div>
    </div>
</section>