<div class="all-content">

    <div class="logo">
        <div class="logo-img">
            <p class="logo-text">m</p>
        </div>

        <p style="cursor: pointer;" routerLink="/" class="site-name">matarebeli.ge</p>
    </div>


    <div class="register">
        <div class="georgian-drosha">
            
            <img class="dorsha" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Flag_of_Georgia.svg/640px-Flag_of_Georgia.svg.png" alt="">

            <select  name="" id="">
                <option value="ge">ქარ</option>
                <option value="en">Eng</option>
                <option value="ru">Рус</option>
            </select>
        </div>

        <div class="buttons">
            <button routerLink="checkTicket"  class="sing-in">ბილეთის შემოწმება/წაშლა</button>
        </div>

    </div>
</div>