<div class="redAlert">
    <div class="alert alert-danger">
        <strong>შეცდომა!</strong> ბარათის მონაცემები არასწორია
    </div>
</div>

<div class="greenAlert">
    <div class="alert alert-success">
        <strong>წარმატებით!</strong> გადახდა წარმატებით განხორციელდა
    </div>
  </div>



<section class="section">
  <div class="payment-container">
    <h2>გადახდის მეთოდი</h2>
    <div class="payment-form">
  
      <div class="payment-methods">
        <label>
          <input type="radio" name="payment" value="card" [(ngModel)]="paymentMethod">
          <span class="method-icon"><i class="ri-bank-card-line"></i></span>
          ბარათით გადახდა
        </label>
        <label>
          <input type="radio" name="payment" value="paypal" [(ngModel)]="paymentMethod">
          <span class="method-icon"><i class="ri-paypal-line"></i></span>
          PayPal
        </label>
      </div>

      <!-- Card Details -->

      <div *ngFor="let sit of PayMentInformation" class="sits&Prices">
        <p> ადგილი: {{ sit.sit }} | ფასი: {{ sit.price }}₾</p>
      </div>


      <div class="card-details" *ngIf="paymentMethod === 'card'">
        <label for="cardNumber">ბარათის ნომერი</label>
        <input type="text" id="cardNumber" placeholder="0000 0000 0000 0000" maxlength="19" pattern="\d{4}/\d{4}" inputmode="numeric" (input)="CardNumber($event)" [value]="cardNum">
        <div class="card-row">
          <div>
            <label for="expDate">ვადა</label>
            <input type="text" id="expDate" placeholder="MM/YY" maxlength="5" pattern="\d{2}/\d{2}" inputmode="numeric"
              (input)="formatExpDate($event)" [value]="expDate" />

          </div>
          <div>
            <label  for="cvv">CVV</label>
            <input [(ngModel)]="cvv"  type="password" id="cvv" placeholder="CVV" maxlength="4">
          </div>
        </div>
        <label for="cardName">ბარათის მფლობელი</label>
        <input  [(ngModel)]="Name" placeholder="სახელი და გვარი" id="cardName" type="text" >
      </div>

      <!-- PayPal Details -->
      <div class="paypal-details" *ngIf="paymentMethod === 'paypal'">
        <label for="paypalEmail">PayPal Email</label>
        <input type="email" id="paypalEmail" placeholder="your@email.com">
      </div>

      <p>ჯამური გადასახადი: {{sumtotal}}₾ </p>

      <button (click)="pay()" type="submit" class="pay-btn">გადახდა</button>
    
    </div>
  </div>
</section>